<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BBNotificationServer</string>
	<key>CFBundleGetInfoString</key>
	<string>Mail.appetizer Notification Server version 1.0 Beta, Copyright (c) 2005 Stefan Schüßler.</string>
	<key>CFBundleIdentifier</key>
	<string>com.bronsonbeta.MailAppetizer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mail.appetizer Notification Server</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>102</string>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSMainNibFile</key>
	<string>BBNotificationServer</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
